.OrderDetail {
    background-color: #f9f9f9;
    width: 30%;
    text-align: center;
    border: 1px;
    border-color: #d84e4e;
    border-style: solid;
  }

.sectionHeading {
    display: flex;
    justify-content: center;
}